@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300&display=swap');


.search-app{
    overflow: hidden;
    font-family: 'Martian Mono', monospace;
}
.container{
    width :55% !important;
}
.bg-dark-mode{
 background-color: #141C30;
}
.bg-light-mode{
    background-color: #F5F8FF;
    color:#141C30 !important;
   }
.bg-dark-mode-element{
    background-color: #1F2A48;
}

.bg-light-mode-element{
    background-color: #FDFEFF;
    color:#141C30 !important ;
}
